@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-fivety pb-10;
}

.scrollable {
  @apply overflow-x-scroll pb-2;
}

.scrollable::-webkit-scrollbar {
  @apply hidden;
}
